* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    height: 40%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 30px;
}

.heading {
    display: inline-block;
    margin-left: 120px;
}

input {
    output: none;
    padding: 10px 20px;
    text-align: center;
}

.button {
    height: 40px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 0px;
    color: rgb(44, 44, 44);
    box-sizing: border-box;
    background-color: black;
    color: white;
}